html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #333333;
}

body,
.contact-input,
.contact-textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: transparent;
  background-blend-mode: darken;
  background-image: url(images/connect.jpg);
  background-size: cover;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color :black;
}

.contact-page {
  min-height: 100vh;
  max-width: 900px;
  overflow: hidden;
  margin: 0 auto;
}

.contact-form-section {
  display: flex;
  width: 800px;
  padding: 30px;
  margin: 0 auto;
}

nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-image {
   max-width: 100%; 
  height: auto;
  display: block;
  transform: rotate(180deg);
  width: 900px;
  margin-left: -60px;
  --aspect-ratio-w: 10;
  --aspect-ratio-h: 8;
  z-index: -1;
}

.contact-form-heading {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.contact-form-heading mark {
  color: #007000;
   background-color: transparent;
}

.contact-form-intro {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.contact-input {
  display: block;
  width: 300px;
  margin: 5px auto 15px;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 1rem;
  border: 3px solid #333333;
  opacity: 0.5;
}

.contact-textarea {
  max-width: 400px;
  margin: 5px auto 15px;
  padding: 16px 20px;
  border: 2px solid #333333;
  border-radius: 20px;

  /* stabilize the shape to prevent layout shift culprit  */
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  min-height: 120px;
  opacity: 0.9;
}

.contact-input::-webkit-input-placeholder,
.contact-textarea::-webkit-input-placeholder {
  color: #555555;
}

.contact-submit-button {
  border: 2px solid #333333;
  padding: 8px 20px;
  border-radius: 40px;
  margin: 10px auto 0;
  width: 200px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.contact-submit-button:hover {
  background-color: #dddddd;
}

/* 
Challenge: Identify all accessibility issues using all your newly aquired knowledge.

Write them down here:
- image elements do not have alt attributes
- Document does not have a title element 
- missing label tag for input
- It does not have a lang attribute in HTML tag
- It does not have a main tag (landmark)
- Button need a better name 
- There is h2 without h1
- Place holder text need better contrast 
- Font sizes can be in rem 

*/